In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import random
import numpy as np

In [2]:
bank = pd.read_csv("C:/Users/sheri/Desktop/projectbank.csv")

In [3]:
bank.shape

(45211, 17)

In [4]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
bank.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [6]:
bank.dtypes
#There are numerical and categorical data.

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [7]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [27]:
bank.median()

age          39.0
balance     448.0
day          16.0
duration    180.0
campaign      2.0
pdays        -1.0
previous      0.0
dtype: float64

In [26]:
bank.mean()

age           40.936210
balance     1362.272058
day           15.806419
duration     258.163080
campaign       2.763841
pdays         40.197828
previous       0.580323
dtype: float64

In [28]:
bank.min()

age                18
job            admin.
marital      divorced
education     primary
default            no
balance         -8019
housing            no
loan               no
contact      cellular
day                 1
month             apr
duration            0
campaign            1
pdays              -1
previous            0
poutcome      failure
y                  no
dtype: object

In [29]:
bank.max()

age               95
job          unknown
marital       single
education    unknown
default          yes
balance       102127
housing          yes
loan             yes
contact      unknown
day               31
month            sep
duration        4918
campaign          63
pdays            871
previous         275
poutcome     unknown
y                yes
dtype: object

What simple models have you tried

In [10]:
df = bank

In [21]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [14]:
objfeatures = df.select_dtypes(include="object").columns
le = LabelEncoder()

for feat in objfeatures:
    df[feat] = le.fit_transform(df[feat].astype(str))

In [18]:
X = df.drop('y', 1)
y = df['y']

X = StandardScaler().fit_transform(X.astype(int))

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [ ]:
error_rate = []

for i in range(1,40):
    knn = KNeighborsClassifier(weights='distance', n_neighbors=i).fit(X_train,y_train)
    pred_i = knn.predict(X_test)
    error_rate.append(np.mean(pred_i != y_test))

plt.figure(figsize=(10,6))
plt.plot(range(1,40),error_rate,color='black', linestyle='dashed', 
         marker='o',markerfacecolor='yellow', markersize=6)
plt.title('Error Rate vs. K Value with Distance Metric: Euclidean')
plt.xlabel('K')
plt.ylabel('Error Rate')
print("Minimum error:",min(error_rate),"at K =",error_rate.index(min(error_rate)))

In [26]:
neigh = []
accs = []
trainaccuracy = []

k_range=(1,40)


for k in k_range:
    knn = KNeighborsClassifier(n_neighbors=k_range,weights='uniform',
    algorithm='auto', leaf_size=30, p=2,
    metric='manhattan',
    metric_params=None,
    n_jobs=None,)
    
knn.fit(X_train,y_train)
y_pred= knn.predict(X_test)
acc = accuracy_score(y_test, y_pred)
train_pred = knn.predict(X_train)
trainacc = accuracy_score(y_train, train_pred)
neigh.append(k)
accs.append(acc)
trainaccuracy.append(trainacc)


import matplotlib.pyplot as plt
plt.plot(neigh,trainaccuracy,label='train')
plt.plot(neigh, accs,label= 'test')
plt.xlabel('Neighbors')
plt.ylabel('Accuracy')
plt.legend();
plt.show()

TypeError: '<' not supported between instances of 'tuple' and 'int'

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
from sklearn import tree

In [ ]:
short_tree = tree.DecisionTreeClassifier(max_depth = 3)
short_tree = short_tree.fit(X_train, y_train)
y_pred = short_tree.predict(X_test)
print('accuracy %2.2f ' % accuracy_score(y_test,y_pred))
 
cm = confusion_matrix(le.inverse_transform(y_test), le.inverse_transform(y_pred))
test_results1 = pd.DataFrame(cm,index=labels,columns=labels)
display(test_results1)#accuracy 0.66

In [ ]:
from sklearn.metrics import accuracy_score
depths = []
accs = []
trainaccuracy = []
for i in range(3, 11):
short_tree = tree.DecisionTreeClassifier(max_depth = i)
short_tree = short_tree.fit(X_train, y_train)
y_pred = short_tree.predict(X_test)
acc = accuracy_score(y_test, y_pred)
train_pred = short_tree.predict(X_train)
trainacc = accuracy_score(y_train, train_pred)
depths.append(i)
accs.append(1-acc)
trainaccuracy.append(1-trainacc)

import matplotlib.pyplot as plt
plt.plot(depths,trainaccuracy, label = "train")
plt.plot(depths, accs, label = "test")
plt.xlabel('Max Depth')
plt.ylabel('Error')
plt.legend()

plt.show()

In [ ]:
pd.DataFrame({'Depth': depths, 'Train': trainaccuracy, 'Test': acc})

# Perceptron

In [ ]:
threshold = 1000 #number of epochs allowed
learningrate = 1e-4
weights= np.zeros(129+1) #features and bias term

In [ ]:
def perceptron_predict (inputs):
    summation= np.dot(inputs,weights[1:])+weights[0]
     if summation >= 0:
        return 1
return 0